
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
      height: 100vh; 
  }

/* .container{

   display: grid;
   grid-template-columns: 2fr 4fr 1fr ; 
   grid-template-rows: 2fr 1fr 1fr;
 

   column-gap: 5px;
   row-gap: 20px;
 
} */

.container2{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header " 
                          " main main main" 
                           " main main main" 
                           " footer footer footer";
    height: 100vh;
}


#cont1{
   
    grid-area: header;
    
 
}


#cont2{
   
   
    background-color: blue;
    grid-area: footer;
  
   
}

#cont3{
    background-color: red;
    grid-area: main;
   
}

  /* #cont4{
    background-color: rgb(153, 42, 153);
    grid-area: nav;
} */

/*
#cont5{

    background-color: rgb(238, 221, 133);
    
}

#cont6{

    background-color: rgb(9, 23, 23);
    grid-area: main;
   
}

#cont7{

    background-color: rgb(0, 255, 60);
    
    
   
}

#cont8{

    background-color: aqua;
  
    
   
} 
 */


.linksbarra{


    text-decoration: none;
    background-color:  white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



/* fondo blanco a a la barra de navegación*/
.topnav {
    background-color: white;
    overflow: hidden;
}

/* estilos dentro de la barra de navegación */
.topnav a {
  float: left;
  color: #b14197;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* cambia el color cuando el mouse pasa por arriba de la barra de navegación */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* alinear imagen en la barra de navegación */
.topnav-right {
  float: right;
}

.topnav-left {
    float: left;
  }

#logo{

    width: 150px;
    border-radius: 50%;

}

/* Links dentro de la barra desplegable en la barra de navegación */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* contenido de la barra desplagable en la barra de navegación */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* botón de la barra desplegable - barra de navegación */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #b14197;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* contenido del menú despelgable de la barra de navegación (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links denstro de la barra de navegación */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* color gris de los links de la barra desplegable */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* mostrar el menú despelagable cuando se interactua */
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* 
@media (min-width:430px) and (max-width:779px)   {


  .container2{

    display: grid;
    column-gap: repeat (2, 2fr);
    row-gap: repeat (4, 1fr);
    grid-template-areas: "header header " 
                            "main main " 
                             "main main " 
                             "footer footer ";
height: 100vh;
   
                        
} 


#cont1{
   
 
  grid-area: header;
  

}


}
 */

  