

 

/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color:  #b14197;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #963780;
  }
  
 /* Add a background color and some padding around the form 
  .container {
    border-radius: 5px;
    background-color: #f5d6eb;
    padding: 20px;
  } */

  .center {
    margin: auto;
    width: 50%;
    border: 2px solid #b14197;
    padding: 10px;
  }
  